.FilterFraem .F-Text {
       width: 150px;
    height: 140px;
    margin: 10px 0px 0px 10px;
    border: solid 1px black;
    padding: 20px;
    font-size: 20px;
    overflow-y:scroll;}
 

.F-Checkbox, .F-Input,  .F-Reset {
   margin-right: 10px;}